@model IEnumerable<WarehouseManager.Models.Item>

@{
    ViewData["Title"] = "DisplayItems";
}

<h1>DisplayItems</h1>
@{
    string linkText = "Low Items";
    string linkRef = Url.Action("LowItems", "Item");
}

@if (ViewContext.RouteData.Values["action"].ToString() == "LowItems")
{
    linkText = "Go Back";
    linkRef = Url.Action("DisplayItems", "Item");
}
<p>
    <a href="AddItem">Create New</a>
    @if (User.IsInRole("Admin"))
    {
        <a href="@linkRef" id="link">@linkText</a>
    }
</p>

<form asp-controller="ItemController" method="get">
    <p>
        Search: <input type="text" name="SearchString" />
        <input type="submit" asp-action="Search" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemAmount)
                </td>
                <td>
                    <a asp-action="EditItem" asp-route-id="@item.ItemID">Edit</a> |
                    <a asp-action="ViewItem" asp-route-id="@item.ItemID">Details</a> |
                    <a asp-action="DeleteItem" asp-route-id="@item.ItemID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

}