@model IEnumerable<WarehouseManager.Models.Item>

@{
    ViewData["Title"] = "DisplayItems";
}

<h1>DisplayItems</h1>

<p>
    <a asp-action="AddItem">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemAmount)
            </td>
            <td>
                <a asp-action="EditItem" asp-route-id="@item.ItemID">Edit</a> |
                <a asp-action="ViewItem" asp-route-id="@item.ItemID">Details</a> |
                <a asp-action="DeleteItem" asp-route-id="@item.ItemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
