@model IEnumerable<WarehouseManager.Models.Order>

@{
    ViewData["Title"] = "DisplayOrders";
}

<h1>All Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cancelled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.Completed == false && item.Cancelled == false)
                {
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Completed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cancelled)
                    </td>
                    <td>
                        <a asp-action="ViewOrder" asp-route-id="@item.OrderID">View Order</a> |
                        <a asp-action="CancelOrder" asp-route-id="@item.OrderID">Cancel</a>
                    </td>
                }
            </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                @if (item.Completed == true)
                {
                    <td class="bg-success"></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Completed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cancelled)
                    </td>
                    <td>
                        <a asp-action="ViewOrder" asp-route-id="@item.OrderID">View Order</a>
                    </td>
                }
            </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                @if (item.Cancelled == true)
                {
                <td class="bg-danger"></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Completed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cancelled)
                    </td>
                    <td>
                        <a asp-action="ViewOrder" asp-route-id="@item.OrderID">View Order</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
