@model IEnumerable<WarehouseManager.Models.Order>

@{
    ViewData["Title"] = "DisplayOrders";
}

<h1>All Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cancelled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (item.Completed == true)
            {
                <td class="bg-success"></td>
            }
            else if (item.Cancelled == true)
            {
                <td class="bg-danger"></td>
            }
            else
            {
                <td></td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cancelled)
            </td>
            @if (item.Cancelled != true && item.Completed != true)
            {
                <td>
                    <a asp-action="ViewOrder" asp-route-id="@item.OrderID">View Order</a> |
                    <a asp-action="CancelOrder" asp-route-id="@item.OrderID">Cancel</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="ViewOrder" asp-route-id="@item.OrderID">View Order</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
