@model WarehouseManager.Models.Order

@{
    ViewData["Title"] = "Reorder";
}

<h1>New Order</h1>

<div>
    <h4>Are you sure you want to re-order?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Customer
        </dt>
        <dd class="col-sm-10">
            @ViewBag.customer.FirstName @ViewBag.customer.LastName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemCount)
        </dd>
    </dl>
</div>
<br />
<h4>Items:</h4>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Item Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (OrderItem item in ViewBag.orderItems)
            {
                <tr>
                    <td>
                        @item.Item.ItemName
                    </td>
                    <td>
                        @item.Item.ItemDescription
                    </td>
                    <td>
                        @item.Item.Price
                    </td>
                    @if (ViewBag.Missing.Contains(item))
                    {
                        <td class="bg-danger"></td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<div>

    @if (ViewBag.Missing.Count == 0)
    {
        <a class="btn btn-warning" asp-action="ReorderConfirm" asp-route-id="@Model.OrderID">Re-Order</a>
    }
    else
    {
        <p class="alert-warning">One or more items are out of stock!</p>
    }
    <a asp-action="CancelNewOrder">Cancel Order</a>
</div>