@model IEnumerable<WarehouseManager.Models.Item>

@{
    ViewData["Title"] = "AddItems";
}

<link rel="stylesheet" href="~/css/CustomerOrder.css" />

<div class="container">
    <div class="col1">
        <h1>Add Items</h1>

        <form asp-controller="OrderController" method="get">
            <p>
                Search: <input type="text" name="SearchString" />
                <input type="submit" asp-action="Search" value="Search" />
            </p>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemAmount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemAmount)
                        </td>
                        <td>
                            <a asp-action="AddItemToOrder" asp-route-id="@item.ItemID">Add Item</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    </br>

    <div class="col2">
        <h3>Your Order</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (OrderItem item in ViewBag.items)
                {
                    <tr>
                        <td>
                            @item.Item.ItemName
                        </td>
                        <td>
                            @item.Item.Price
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-action="RemoveItemFromOrder" asp-route-id="@item.ID">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<br />
<a asp-action="ViewCustOrders">Add Orders</a> |
<a class="text-danger" asp-action="CancelNewOrder">Cancel Order</a>